#Testimonials {
    display: none;
    background: #F3F6FF;
  }
  
  @media (min-width: 1400px) {
    #Testimonials {
      display: block;
    }
  
    #Testimonials .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      max-width: 1296px;
      margin: 0 auto;
      padding: 5rem;
    }
  
    .TestimonialsTXT {
      font-size: 40px;
      font-weight: 900;
      padding-right: 134px;
      text-align: left;
      line-height: 1.3;
      white-space: nowrap;
      color: #131022;
    }
  
    .TestimonialsIMG img {
      max-width: 120%;
      max-width: 700px;
      transform: scale(1.1);
      height: auto;
    }
  }
  